.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-table-head {
  text-transform: uppercase;
  font-weight: 600;
}

.App-table-row:nth-child(odd) {
  background-color: rgb(238, 240, 223);
}

.App-table-row:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.completed {
  background-color: green;
}

.not-completed {
  background-color: red;
}
